body[theme="spearmint"] {
    --background: linear-gradient(135deg, rgb(59, 121, 99) 0%, hsla(176, 68%, 12%, 1) 100%);
    --background-solo: hsla(176, 68%, 12%, 1);
    --color: white;
    --text-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    --box-shadow-semi: 0 0 10px rgba(255, 255, 255, 0.7);
    --box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}
body[theme="classic"] {
    --background: black;
    --background-solo: black;
    --color: white;
    --text-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    --box-shadow-semi: 0 0 10px rgba(255, 255, 255, 0.7);
    --box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}
body[theme="midnight"] {
    --background: rgb(4, 24, 56);
    --background-solo: rgb(4, 24, 56);
    --color: white;
    --text-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    --box-shadow-semi: 0 0 10px rgba(255, 255, 255, 0.7);
    --box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}
body[theme="christmas"] {
    --background: rgb(20, 152, 0);
    --background-solo: rgb(20, 152, 0);
    --color: rgb(185, 0, 0);
    --text-shadow: 0 0 30px rgba(185, 0, 0, 0.7);
    --box-shadow-semi: 0 0 10px rgba(185, 0, 0, 0.7);
    --box-shadow: 0 0 30px rgba(185, 0, 0, 0.7);
}
body[theme="light"] {
    --background: white;
    --background-solo: white;
    --color: black;
    --text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    --box-shadow-semi: 0 0 10px rgba(0, 0, 0, 0.7);
    --box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
body[theme="aqua"] {
    --background: linear-gradient(135deg, rgb(46, 121, 151) 0%, hsla(197, 85%, 51%, 1) 100%);
    --color: white;
    --background-solo: rgba(46, 121, 151, 0.7);
    --text-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    --box-shadow-semi: 0 0 10px rgba(255, 255, 255, 0.7);
    --box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}