@import url(css/themes.css);
@font-face {
  font-family: psreg;
  src: url(fonts/psreg.ttf);
}

@font-face {
  font-family: psbold;
  src: url(fonts/psbold.ttf);
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: var(--background);
  color: var(--color);
  font-family: "psreg";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}
h1 {
  font-family: "psbold";
  font-size: 72px;
  margin: 0 0 -43px 0;
  text-shadow: var(--text-shadow);
  pointer-events: none;
}
.center {
  padding-top: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
select {
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  color: var(--color);
  background-color: var(--background);
  border-color: var(--color);
  width: 150px;
  height: 30px;
  border-style: solid;
  border-radius: 8px;
  font-family: "psreg";
  font-size: 18px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
option {
  font-family: "psreg";
  color: var(--color);
  background-color: var(--background-solo);
  border-color: var(--background-solo);
  border-width: 1px;
  filter: blur(7px);
}
select:hover {
  box-shadow: var(--box-shadow-semi);
}
select:focus {
  box-shadow: var(--box-shadow);
}
.btn {
  border: var(--background);
  color: var(--color);
  position: absolute;
  border-radius: 8px;
  border-color: var(--color);
  border-width: 2px;
  border-style: solid;
  top: 65%;
  width: auto;
  margin: auto;
  font-family: "psreg";
  font-size: 16px;
  box-shadow: var(--box-shadow);
  height: 25px;
  position: relative;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 2%;
  left: 1%;
}
.logo:hover {
  cursor: pointer;
}
.header {
  top: 0%;
  right: 0%;
  margin: 20px;
  position: absolute;
  overflow: hidden;
}
.material-symbols-outlined {
  font-size: 48px;
  margin: 10px;
  cursor: pointer;
}
.uvform {
  top: 2%;
  box-shadow: var(--box-shadow);
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: 1.5s;
  background-color: var(--background);
  border: 1px solid var(--color);
  color: var(--color);
  font-size: 24px;
  border-radius: 9px;
  margin: 0 0 16px 0;
  font-family: "psreg";
  padding: 16px;
  height: 24px;
  text-align: center;
  width: 50%;
  outline: transparent;
}
#frame {
  width: 75%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}
.uvform:placeholder {
  color: var(--color);
}
.uvform:hover {
  transition-timing-function: ease-in-out;
  transition: 1s;
  width: 57.5%;
}
.uvform:focus {
  transition-timing-function: ease-in-out;
  transition: 1s;
  width: 65%;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(97px);
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  position: absolute;
  left: 5px;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal-body {
  overflow: hidden;
  position: relative;
}
.modal-body:before {
  position: fixed;
  display: block;
  content: "";
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: var(--background);
  z-index: 10;
}
.modal-body:before {
  -webkit-animation: fadeIn 320ms ease;
  animation: fadeIn 320ms ease;
  transition: opacity ease 320ms;
}
.modal-body.modal-fadeOut:before {
  opacity: 0;
}

.modal {
  transition: all ease 0.01s;
  display: block;
  opacity: 0;
  height: 0;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal.modal-visible {
  opacity: 1;
  height: auto;
  bottom: 0;
}

.modal-inner {
  transition: all ease 320ms;
  transform: translateY(-50px);
  position: relative;
  display: inline-block;
  background-color: #1a1a1a;
  width: 90%;
  max-width: 625px;
  opacity: 0;
  margin: 40px 0;
  border-radius: 4px;
  box-shadow: 0 30px 18px -20px #020202;
}
.modal-inner.modal-reveal {
  transform: translateY(0);
  opacity: 1;
}

.js-close-modal {
  transition: color 320ms ease;
  color: #9e9e9e;
  opacity: 0.75;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.js-close-modal:hover {
  color: var(--background);
}

#settings-version {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 11px;
  margin-bottom: 5px;
  color: #b4b4b482;
}
.settings-connected {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 13px;
  margin-bottom: 5px;
  color: #b4b4b482;
  display: flex;
}

.connectedindicator {
  width: 20px;
  height: 20px;
  background: #30ff30;
  border-radius: 53px;
  margin-right: 13px;
  margin-top: 2px;
}

button {
  position: absolute;
  right: 4px;
  top: 4px;
  background: transparent;
  border: transparent;
  color: #ffffff30;
}
